<div class="flex p-8 justify-between items-center bg-neutral-300">
  <div>
  <%= link_to "ホーム", "#" %>
  </div>
  <div class="flex space-x-4">
    <div>
      <%= link_to "館員登録", "/users/sign_up" %>
    </div>
    <div>
      <%= link_to "ログイン", "#" %>
    </div>
  </div>
</div>
