<footer class = "bg-neutral-300 p-10">
  <div class="flex flex-col items-center space-y-2">
   <p>Copyright ©2025 - AquaZooBridge</p>
     <div class="flex space-x-8 mt-4 justify-center">
       <%=link_to "https://github.com/Ryu-it/AquaZooBridge" do %>
         <i class="fa-brands fa-github fa-2xl"></i>
       <% end %>
       <%=link_to "https://x.com/Ryu_Runteq" do %>
         <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
       <% end %>
     </div>
  </div>
</footer>