<%= render "shared/normal_header" %>
<%= render "shared/flash_message" %>
<div 
  data-controller="background"
  data-background-target="bg"
  data-background-sky-class="bg-sky-900"
  data-background-lime-class="bg-lime-900"
  class="w-full h-screen transition-colors duration-1000 bg-sky-900"
>

<div class = "flex items-center justify-center h-full">
  <div class = "border mr-14 p-[60px] rounded-xl bg-amber-700 text-lg">
    <%= link_to "動物園に行く", posts_path(category: "zoo") %>
  </div>
  <div class = "border ml-14 p-[60px] rounded-xl bg-sky-300 text-lg">
    <%= link_to "水族館に行く", posts_path(category: "aqua") %>
  </div>
</div>
</div>