@import "tailwindcss";

/* 泡エリア（相対配置＆はみ出し隠す） */
.bubbles-area {
  position: relative;
  overflow: hidden;
}

/* 泡（下から上へ） */
.bubble {
  position: absolute;
  bottom: -24px;                    /* 画面の下から湧く */
  background: rgba(255,255,255,.8);
  border-radius: 50%;
  animation-name: bubble-rise;
  animation-timing-function: linear;
  animation-fill-mode: forwards;    /* 終了後は最後の状態で止める */
}

@keyframes bubble-rise {
  to {
    bottom: 110%; /* 上へ抜ける */
    opacity: 0;
  }
}

@theme {
  --color-lemon-500: rgb(221, 211, 182);
}